@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
:root {
  --main-color: #088f8f;
  --text-color: #ffffff;
  --text-inverse: #000000;
}
* {
  scroll-margin-top: 7vw;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  margin: 0;
  height: auto;
  color: var(--text-color);
  background-color: #002826;
  font-family: "titillium web", sans-serif;
  display: flex;
  flex-direction: column;
}
body::-webkit-scrollbar {
  width: 0.7vw;
}
body::-webkit-scrollbar-track {
  background-color: var(--text-inverse);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
  border-radius: 30px;
  border: solid var(--text-inverse) 0.2vw;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-color);
}
nav {
  width: 100%;
  height: 6vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #012e2ba4;
  box-shadow: 0 1vw 2vw #0d0d0d48;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  position: fixed;
  z-index: 10;
}
nav > div:nth-child(1) {
  position: absolute;
  margin-left: 2vw;
}
nav > div:nth-child(1) > a > img {
  height: 3.5vw;
}
nav > div:nth-child(2) {
  right: 0;
  justify-self: right;
  position: absolute;
  margin-right: 1vw;
}
nav > div:nth-child(2) > a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  padding: 0.6vw;
  margin: 0.15vw;
  transition: all 0.3s ease-in-out;
  border-radius: 0.5vw;
  box-sizing: border-box;
}
nav > div:nth-child(2) > a:hover {
  background-color: #c1c1c152;
}
nav > div:nth-child(2) > a > span {
  font-size: 2.5vw;
  color: var(--text-color);
  display: inline-flex;
  flex-direction: column;
  font-variation-settings: "FILL" 0;
  transition: all 0.3s ease-in-out;
}
nav > div:nth-child(2) > a:hover > span {
  font-variation-settings: "FILL" 1;
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.intro > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.intro > div:nth-child(1) {
  font-family: "Geologica", serif;
  margin-bottom: 2vw;
}
.intro img {
  height: 27vh;
  filter: drop-shadow(1vw 1vw 0.2vw #0d0d0d48);
}
.intro > div > h1 {
  font-size: 6vw;
  text-transform: uppercase;
  margin-top: 1vw;
  margin-bottom: 0;
}
.intro > div:nth-child(2) {
  display: flex;
  flex-direction: row;
}
.intro > div:nth-child(2) > a {
  padding: 1.5vw 0;
  border-radius: 0.5vw;
  width: 19vw;
  font-size: 2vw;
  text-decoration: none;
  margin: 0 0.5vw;
  font-weight: 600;
  color: var(--text-color);
  box-sizing: border-box;
  background-color: #c1c1c152;
  border: transparent 0.35vw solid;
  transition: all 0.3s ease-in-out;
}
.intro > div:nth-child(2) > a:nth-child(2) {
  border: var(--main-color) 0.35vw solid;
}
.intro > div:nth-child(2) > a:hover {
  transform: translateY(-1vw);
  background-color: transparent;
  color: var(--main-color);
  box-shadow: 1vw 1vw 0.6vw #0d0d0d48;
  border: transparent 0.35vw solid;
}
strong {
  font-weight: inherit;
  color: var(--main-color);
}
h2 {
  font-size: 5.5vw;
  margin: 1vw 3vw;
}
h3 {
  font-size: 2.5vw;
  font-weight: 300;
  margin: 1vw 3vw;
}
a.button {
  padding: 1.5vw 0;
  border-radius: 0.5vw;
  width: 19vw;
  font-size: 2vw;
  text-decoration: none;
  margin: 1vw 0.5vw;
  font-weight: 600;
  color: var(--text-color);
  box-sizing: border-box;
  background-color: #c1c1c152;
  border: transparent 0.35vw solid;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-self: center;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
a.button:hover {
  transform: translateY(-1vw);
  background-color: transparent;
  color: var(--main-color);
  box-shadow: 1vw 1vw 0.6vw #0d0d0d48;
  border: var(--main-color) 0.35vw solid;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 4vw;
  font-size: 1.5vw;
  background-color: #3b3b3b59;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  margin-top: 3vw;
  font-weight: 100;
}
footer > span {
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: inherit !important;
  margin: 0 0.2vw;
  font-variation-settings: "FILL" 0;
  font-weight: 200 !important;
}
footer:hover > span {
  font-variation-settings: "FILL" 1;
}
footer > a {
  text-decoration: none;
  color: var(--main-color);
  margin: 0 0.2vw;
}
a.profile {
  display: flex;
  width: 18vw;
  font-size: 2.5vw;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-self: center;
  margin: 1vw 2vw;
  text-decoration: none;
  color: var(--text-color);
  border-radius: 2vw;
  transition: all 0.3s ease-in-out;
  font-weight: 600;
  padding: 3vw 2.5vw;
}
a.profile > img {
  height: 10vw;
}
a.profile:hover {
  background-color: #c1c1c152;
  transform: translateY(-1vw);
}
a.profile > h2 {
  font-size: 2.5vw;
  margin: 3vw 0 0 0;
}
a.profile > h3 {
  font-size: 1.5vw;
  font-weight: 300;
  margin: 1vw 0 0 0;
}
