@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Joan&family=Kdam+Thmor+Pro&family=Koulen&family=Titillium+Web&family=Tourney&display=swap');
:root {
	--main-color: #088f8f;
	--text-color: #ffffff;
	--text-inverse: #000000;
}
html {
	scroll-behavior: smooth;
}
html, body {
	margin:0px;
	height:100%;
	background-color: #2c2c2c;
	font-family: 'titillium web', sans-serif;
}

body::-webkit-scrollbar {
	width: 1vw;
}

body::-webkit-scrollbar-track {
	background-color: var(--text-inverse);
}

body::-webkit-scrollbar-thumb {
	background-color: #545454;
	transition: background-color 5s ease-out;
}

body::-webkit-scrollbar-thumb:hover {
	background-color: rgb(52, 52, 52);
	cursor: pointer;
	border-radius: 50px;
}